<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/view_sprint.css">
    <title>Sprint Results</title>
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="/view_sprint" method="post">
            <label for="sprint-details">Your Sprint Details are:</label>
            <p>Sprint ID: <%= data["Sprint_ID"] %><br>
            Project ID: <%= data["Project_ID"] %><br>
            Project Name: <%= data["Project_Name"] %><br>
            Start Date: <%= data["Start_Date"] %><br>
            End Date: <%= data["End_Date"] %></p>
        </form>
        <div id="sprint-details"></div>
    </div>
</body>
</html>
