<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/team_details.css">
    <title>Team Results</title>
</head>
<body>
    <div class="login-container">
        <form class="login-form" action="#">
            <label for="team-details">Your team details are:</label>
            <p>Team ID: <%= data["Team_ID"] %><br>
            Project ID: <%= data["Project_ID"] %><br>
            Project Name: <%= data["Project_Name"] %><br>
            Team Name: <%= data["Team_Name"] %><br>
            Number Of Members: <%= data["Number_Of_Members"] %></p>
        </form>
        <div id="team-details"></div>
    </div>
</body>
</html>